<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1>Play around</h1>
    <!-- to run a loop -->
    <ul>
      <%for(let i=0;i<6;i++) {%>
      <!-- if somthing  to print<%= %> else <%%> -->
      <li><%=i %></li>
      <%}%>
    </ul>
    <!-- conditional statement -->
    <%if(true){%>
    <h1>It's trur</h1>
    <%}else {%>
    <h1>sorry it'sfalse !</h1>
    <%}%>
  </body>
</html>
