@keyframes changeShape{
    from{
        border-radius: 0%;
    }
    40%{
        width: 400px;
    }
    to{
        border-radius: 50%;
    }
}

div{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;

    animation: changeShape 5s ease-in-out 0.8s infinite alternate  ;
    

}
