<!-- <h1>sign in</h1>
<form action="/users/create-session" method="POST">
  <input type="email" name="email" placeholder="Email " required />
  <input type="password" name="password" placeholder="Password " required />
  <input type="submit" value="Sign In" />
</form> -->
<div id="signin">
  <link rel="stylesheet" href="/css/signin.css" />
  <img
    style="
      width: 20%;
      margin: auto;
      margin-right: 2%;
      margin-left: 14%;
      padding: 3%;
    "
    src="../uploads/images/logo.jpg"
  />
  <div class="screen-1" style="margin: auto; margin-left: 1%; width: 25%">
    <form action="/users/create-session" method="POST" style="margin-top: 35%">
      <div class="email">
        <label for="email">Email Address</label>
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input
            type="email"
            name="email"
            placeholder="Username@gmail.com"
            required
          />
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input
            class="pas"
            type="password"
            name="password"
            placeholder="············"
            required
          />
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
      </div>
      <button class="login" type="submit" style="color: #ffffff">Login</button>
      <button class="login" style="color: #f5f0f0; background-color: #fd0a0a">
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
      </button>
    </form>
    <div class="footer">
      <span><a href="./sign-up"> Sign up</a></span
      ><span>Forgot Password?</span>
    </div>
  </div>

  <!-- //we are using post methd bcz we are sending data to server -->
</div>
