<footer id="layout-footer">
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About me</div>
        <p>
          I am Vikash Kumar Singh 3rd year student from IIIT Pune ( CSE
          Department )
        </p>
      </div>
    </div>

    <div class="middle box">
      <div class="topic">Contact us</div>
      <div class="phone">
        <a href="#"><i class="fas fa-phone-volume"></i> +91 7970835182</a>
      </div>
      <div class="email">
        <a href="#"
          ><i class="fas fa-envelope"></i> vikashkumarsingh19@cse.iiitp.ac.in
        </a>
        <br />
        <a href="https://github.com/iamvks12022001/codeial"
          ><i class="fab fa-github"></i> Code
        </a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Project Done By <a href="#">Vikash</a></p>
    <div class="lower">
      <ul>
        <li>
          <a href="/"> Go To Home Page</a>
        </li>
        <li>
          <% if(locals.user){ %>
          <a href="/users/profile">Check Profile</a>

          <%}else {%>
          <a href="/users/sign-in">Check Profile</a>
          <%}%>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<!--Get your own code at fontawesome.com-->
