<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <%- include('_header');%> 
        <%- body %> 
        <!-- body is keyword to specify that,that is a the variable part -->
        <%- include('_header');%>
    </body>
</html>

<!-- above all are common code -->