#layout-footer {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;

  .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    justify-content: space-between;
    .box {
      width: 40%;
      transition: all 0.4s ease;
    }
    .topic {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 16px;
    }
    p {
      text-align: justify;
    }

    .middle {
      padding-left: 80px;
    }
    .middle a {
      line-height: 32px;
    }

    p,
    a {
      color: #fff;
    }
  }

  .bottom {
    width: 35%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  .bottom a {
    color: #eb2f06;
  }
  a {
    transition: all 0.3s ease;
  }
  a:hover {
    color: #eb2f06;
  }

  a {
    color: white;
    text-decoration: none;
  }

  background: rgb(0, 0, 0);
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;

  width: 100%;

  .bottom {
    ul {
      list-style: none;
    }
    .lower .topic {
      margin: 24px 0 5px 0;
    }
    .lower i {
      padding-right: 16px;
    }
  }
}
