#layout-header nav {
  display: flex;
  background: #6200ee;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between; }
  #layout-header nav .left-div a img:hover {
    cursor: pointer; }
  #layout-header nav .logo {
    color: #fff;
    font-size: 35px; }
  #layout-header nav .logo-icons {
    font-size: 40px;
    color: #ece60e; }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px; }
      #layout-header nav .auth-links ul li a {
        text-decoration: none;
        color: #fff;
        padding: 10px; }
      #layout-header nav .auth-links ul li a:hover {
        background-color: #101111;
        border-radius: 41%; }
  #layout-header nav .search-container {
    flex-grow: 0.5;
    /* padding: 0 20px; */
    position: relative;
    display: flex; }
  #layout-header nav .search-container input {
    background: #ffffff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding-left: 31px;
    box-sizing: border-box;
    flex-grow: 1; }
  #layout-header nav .search-container input:focus {
    outline: none; }
  #layout-header nav .search-icon {
    height: 20px;
    position: absolute;
    top: 10px;
    left: 7px; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
