#header {
  background-color: #4834c9;
  height: 7vh;
  display: flex;
  justify-content: space-between; }
  #header a {
    text-decoration: none;
    margin-left: 2vh;
    color: white;
    font-family: sans-serif; }
  #header #app-name {
    margin-top: 1.5vh; }
  #header div span {
    color: white;
    font-family: sans-serif; }
  #header #sign-links {
    margin-top: 1.5vh; }
