div{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;

    /* transform: scale(0.9,0.9); */
    transition: 1s ease-in-out ;

}

div:hover{

    transform: translateX(200px) scale(1.5);
   
}