<div>
  <p>Hi <%= user.name%>!</p>
  <br />
  <br />
  <h1>Welcome</h1>
  <p>
    Your account <strong><%= user.email %></strong> just got pubished on oue
    social media site.
  </p>
  <br />
  <br />
  <p>Thanks!</p>
</div>
<!--make beutifull as much as possible-->
