#home-container {
  display: flex; }
  #home-container #feed-posts {
    padding: 20px 50px;
    display: flex;
    width: 80%;
    margin: 20px 50px 20px 10%; }
    #home-container #feed-posts #feed-list {
      flex-grow: 0.8; }
      #home-container #feed-posts #feed-list #new-post-form {
        background: white;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 4px; }
        #home-container #feed-posts #feed-list #new-post-form textarea {
          height: 90px;
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          font-size: 15px;
          border: none;
          resize: none;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          outline: none; }
        #home-container #feed-posts #feed-list #new-post-form div {
          padding: 10px;
          border-top: 1px solid #d0d0d0;
          display: flex;
          justify-content: flex-end; }
          #home-container #feed-posts #feed-list #new-post-form div #post-bu {
            width: 112px;
            height: 42px;
            left: 111.5px;
            top: 0px;
            background: #6200ee;
            border-radius: 3px;
            color: #fff;
            font-size: 16px; }
          #home-container #feed-posts #feed-list #new-post-form div #post-bu:hover {
            cursor: pointer; }
  #home-container #user-friends {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
