$p: "#F1F7FE";
$s: "#3E4684";

@mixin screen {
  background: $p;
  padding: 2em;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 2em #e6e9f9;
}

// body {
//   user-select: none;
//   overflow-y: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #dde5f4;
//   height: 100vh;
// }
.screen-1 {
  @include screen;
  background: #6d82aa;
  //   gap: 2em;

  img {
    margin: auto;
    border-radius: 50%;
    padding: 1%;
    border: 5px solid black;
    margin-bottom: 1em;
    z-index: 2;
    width: 8%;
  }
  .name {
    background: #ffffff;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
    margin-bottom: 3em;
    input {
      outline: none;
      border: none;
      &::placeholder {
        color: #000000;
        font-size: 0.9em;
      }
    }
  }
  .email {
    background: #ffffff;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
    margin-bottom: 2em;
    input {
      outline: none;
      border: none;
      &::placeholder {
        color: #000000;
        font-size: 0.9em;
      }
    }
  }

  .login {
    padding: 1em;
    // background: rgb(2, 129, 40);
    background: rgb(62, 70, 132);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1%;
  }
  .footer {
    display: flex;
    font-size: 0.7em;
    color: "#5E5E5E";
    gap: 14em;
    //padding-bottom: 1em;
    span {
      cursor: pointer;
    }
  }
}

button {
  cursor: pointer;
}
